<a href="https://colab.research.google.com/github/hossamAhmedSalah/DataCamp_DataScience_Professional/blob/main/Python_Basics_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Variables

In [ ]:
x1 = 4
y1 = 6

x2 = "Hello, "
y2 = "world"

# make a new variable of the sum of x1 and y2
z1 = # write your answer here

# make a new variable that contains "Hello, world" using x2 , y2
z2 = # write your answer here

#print z1 , z2 using single print command
#write your answe here

In [ ]:
# take a numerical input from the user and print from 1 to the number the user entered

# taking numerical input from the user
input = # write your answer here

# making the loop to print the numbers from 1 to the input
# write your answer here

In [ ]:
students_grades1 = [50,55,90]
students_grades2 = [60,70,80]

#concate students_grades1 and students_grades2 in 1 list (students_grades)
students_grades = # write your answer here


# from students grades print [50, 90, 70] using slicing and step size

# write your answer here


# from students grades print [60, 50] using slicing and step size

# write your answer here

In [ ]:
my_string = "!dlroW ,olleH"

# print my_string in reverse

# write your answer here

In [ ]:
'''
Create a list using list comprehension that starts at 10 and increments by 10 for each subsequent element, up to 100.
--output needed:[10, 20, 30, 40, 50, ..., 100]
'''

# write your answer here

Q: what is the difference between lists and tuples?
<br>
A:

In [ ]:
store_products1 = {"Milk", "Biscuits", "Cheese"}
store_products2 = {"Milk", "Biscuits", "Coffe"}

# combine all the store products in 1 set using set operations and print it

# write your answer here

# print the common products of the 2 stores using set operations

# write your answer here

# what product does store 2 have and store 1 doesn't have?

# write your answer here (use set operations)

In [ ]:
student = {

    "committee" : "Machine learning"
}

# add your "name" and "university" to the student dictionary

# write your answer here

# print key, value pairs from student dictionary using for loop

"""
output needed:
committe: Machine learning
name: (your name)
university: (your university)
"""

# write your answer here


# convert student dictionary to a dataframe using pandas

# write your answer here

## Operators

In [ ]:
num1 = 15
num2 = 4

# Perform floor division of num1 by num2 and print the result

# write your answer here

# Find the remainder when num1 is divided by num2 and print it

# write your answer here

In [ ]:
student_grade1 = 45
student_grade2 = 90

'''
check if both student 1, student 2 passed the exam
-- where student passes the exam if his grade is more than 50
solve it using logical operators
'''

# write your answer here

'''
check if atleast 1 student from student 1, student 2 passed the exam
solve it using logical operators
'''

# write your answer here

In [ ]:
num1 = 20
num2 = 20.0
num3 = num1

# check if num1 and num2 refers to the same object

# write your answer here

# check if num3 and num2 have the same value

## Loops

In [ ]:
# print the even numbers from 1 to 20 using for loop

# write your answer here (using range only)

In [ ]:
grocery_list = ["Bread","Burger","Ketchup"]

'''
print the list elements along with their indexes
output needed:
product (index) --> (element)
product (index) --> (element)
product (index) --> (element)
'''

# write your answer here (use for loop)

## Functions and Lambda Functions

In [ ]:
# write a function that takes unknown number of integers

# write your answer here

    # write a lambda function that adds 10 to the number
    l1 = # write your answer here

    # write a lambda function that adds 30 to the number
    l2 = # write your answer here

    # make a for loop that iterates over the passed integer to the function

    # write your answer here

        # check if the number is even

        # write your answer here

            # use l1 to add 10 to the number and print it

            # write your answer here

        # check if the number is odd (not even)

        # write your answer here

            # use l2 to add 30 to the number and print it

            # write your answer here

numbers = [1,2,3,4,5,6,7,8,9,10]

# pass numbers to the function you made

# write your answer here